In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.image as mpimg

# Data Preprocessing:

from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree
from sklearn import metrics
from sklearn.metrics import classification_report,confusion_matrix,roc_curve, roc_auc_score, accuracy_score

# Models:

from sklearn.dummy import DummyClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import StackingClassifier
from xgboost import XGBClassifier

# A model that I learned by myself: CatBoost + Plotly

from catboost import CatBoostClassifier
import plotly.graph_objects as go
import plotly.io as pio
import plotly.express as px

# offline (for plotly)

import plotly.offline as pyo

# Clustering:

from sklearn.cluster import KMeans

# PCA:

from sklearn.decomposition import PCA

# ICA:

from sklearn.decomposition import FastICA

# Scaling:

from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, LabelEncoder, MinMaxScaler

# Cross Validation:

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import train_test_split

In [24]:
def procces_image(img_path):
    img = cv.imread(img_path  )
    img = cv.resize(img , (32,32))

    img = img.reshape(32*32*3)
    img = np.append(img,img.ravel().mean())
    return img

In [25]:
def load_data(path):
    x = []
    y = []

    for file in os.listdir(path):
        label = file.split('.')[0]
        data = procces_image("{}/{}".format(path,file))
        x.append(data)
        y.append(label)
    return x,y

In [26]:
features, targets = load_data('C:/Users/WIN10/Data-Visualization-main/Dogs vs Cats/train')

In [27]:
features = np.asarray(features)
targets = np.asarray(targets)

In [28]:
features.shape

(25000, 3073)

In [30]:
df = pd.DataFrame(features)
df['label'] = targets

In [31]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,3064,3065,3066,3067,3068,3069,3070,3071,3072,label
0,93.0,171.0,210.0,103.0,181.0,224.0,114.0,192.0,235.0,119.0,...,4.0,4.0,1.0,3.0,3.0,1.0,3.0,3.0,119.620768,cat
1,41.0,37.0,33.0,40.0,42.0,38.0,43.0,43.0,35.0,47.0,...,45.0,62.0,45.0,48.0,66.0,31.0,36.0,51.0,72.590495,cat
2,61.0,55.0,46.0,65.0,58.0,49.0,66.0,59.0,50.0,64.0,...,160.0,162.0,34.0,157.0,169.0,4.0,193.0,194.0,108.319661,cat
3,217.0,222.0,221.0,229.0,229.0,229.0,228.0,228.0,228.0,224.0,...,202.0,202.0,215.0,215.0,214.0,207.0,212.0,215.0,164.578451,cat
4,64.0,100.0,126.0,53.0,92.0,118.0,63.0,104.0,129.0,108.0,...,72.0,86.0,77.0,101.0,116.0,55.0,82.0,94.0,103.436198,cat

In [33]:
features = df.drop(['label'], axis=1)
targets = df['label']

In [34]:
X_train, X_test, y_train, y_test = train_test_split(features_train, targets_train ,random_state = 7)
X_train_train, X_val, y_train_train, y_val = train_test_split(X_train, y_train ,random_state = 7)